<% include header %>
<div class="container">
    <div id="newkey" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Bien joué !</strong> Le mois de premium a été ajouté à ce compte !
    </div>

    <h1>Espace administration</h1>
    <p class="lead">Toute modification non autorisée peut entrainer des disfonctionnements d'OpenVPN, vérifiez les configurations avant de valider.</p>

    <hr>
    <h3>Connectés : <%=nbrUsersOnline%></h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Pseudo</th>
                <th>IP réelle</th>
                <th>IP virtuelle</th>
                <th>Bytes reçus</th>
                <th>Bytes envoyés</th>
                <th>Connecté depuis</th>
            </tr>
        </thead>
        <tbody>
        <%var counter = 1; for (var i = 0; i < usersOnline.length; i++) {
            if (usersOnline[i] != ''){
            var userEnCours = usersOnline[i].split(',')
            var userEnCours2 = usersOnline2[i].split(',') %>
            <tr>
                <td><%=counter%></td>
                <td><%=userEnCours[0]%></td>
                <td><%=userEnCours[1]%></td>
                <td><%=userEnCours2[0]%></td>
                <td><%=userEnCours[2]%></td>
                <td><%=userEnCours[3]%></td>
                <td><%=userEnCours[4]%></td>
            <tr>
            <%counter++
            }%>
        <%}%>
        </tbody>
    </table>

    <hr>
    <h3>Passer un compte premium pour un mois</h3>
    <form aciton="#" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Compte</label>
            <select name="account" class="form-control">
                <%
                for (var i = 0; i < users.length; i++) {%>
                <option value="<%=users[i]%>"><%=users[i]%></option>
                <%}%>
            </select>
            <br>
            <input type="submit" class="btn btn-primary" value="Valider" style="float: right;"><br>
            <hr style="clear: both;">
        </div>
    </div>
    <form>
</div>
<% include footer %>
